<script src="../../assets/javascripts/views/post_form.js" type="text/javascript" charset="utf-8"></script>
<h1>Journal</h1>
the show page!
<section class="posts"></section>
<h1> And here is 1 post! </h1>
<section class="post"></section>
<h1> Make a new post ... if  you can ...</h1>
<section class="newpost"></section>